@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 247, 243, 228;
  --background-end-rgb: 165, 163, 153;
}

/*@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}*/

html {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: repeating-radial-gradient(circle, rgba(0,0,0,.3) 0%, rgba(0,0,0,.3) 5%, transparent 5%, transparent 100%);
  background-size: 75px 75px;
}

/*.wall {
  min-height: 100vh;
  min-height: 1vh;
}*/

.climber {
  display: inline-block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 2px solid lime;
}

img {
  display: inline-block;
  border: 2px solid magenta;

}
 .current-limb {
  --limb-size: 10%;
  display: block;
  position:absolute;
  height: var(--limb-size);
  aspect-ratio: 1 / 1;
  margin-left: calc(-1 * var(--limb-size)/2);
  margin-top: calc(-1* var(--limb-size)/2);
  background-image: radial-gradient(circle,
    orchid 0px, magenta 15px, orange 35px);

  border-radius: 50%;
  border: 3px solid black;
  z-index: -1;
}