@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 247, 243, 228;
  --background-end-rgb: 165, 163, 153;
}

/*@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}*/

* {
  box-sizing: border-box;
}

html {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

}
/*
.layout-debugging.gym {
  outline: 3px solid purple;
  .header {
    outline: 3px solid yellow;
  }
  .call {
    outline: 3px solid magenta;
  }
  .climber {
    outline: 3px solid aqua;
    img {
      outline: 3px solid blue;
    }
  }
  .footer {
    outline: 3px solid rgb(30, 152, 124);
  }
}
*/

body {
  margin: 0;
  padding: 0;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  min-height: 100vh;
  background-image: repeating-radial-gradient(circle, rgba(0,0,0,.3) 0%, rgba(0,0,0,.3) 5%, transparent 5%, transparent 100%);
  background-size: 75px 75px;
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden; /* Prevent scrolling */
}

/* css grid for making a column of header, main, footer */
.gym {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.header {
  padding: 10px;
  grid-row: 1;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  z-index: 100;
}

h1 {
  margin: 0;
  padding: 0;
  grid-column: 1;
  color: transparent;
  display: none;
}

h1 .mountains {
  grid-column: 1;

}
.logo {
  grid-column: 2;
  width: 1fr;
  justify-content: center;
  display: none;
}

.score {
  border: 3px solid rgb(46, 46, 46);
  border-radius: 5px;
  background-color: black;
  color: white;
  font-size: 1.5rem;
  position: absolute;
  top: 20px;
  right: 20px; 
  width: 7em;
}
.score table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.score th, 
.score td {
  width: 50%;
  text-align: center;
  padding: 0 10px;
}

.score table th {
  text-transform: uppercase;
}

.score table tr:first-child th {
  text-align: center;
  font-size: 1.8rem;
}

.score tr:first-child {
  text-align: left;
  width: 50%;
  font-size: 1.6rem;
  letter-spacing: 2px;
}


.call {
  grid-row: 2;
  min-height: 48px;
  line-height: 1.2;
  font-size: 40px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.gym {
  background-image: url("/climbing-wall.png");
  background-size: cover;
}

.gym:before {
  content: "";
  height: 100dvh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: background-color 0.3s;
}

.gym:hover:before {
  background-color: rgba(255,255,255, .6);
}

.wall:hover {
  
}

.footer {
  /*background: linear-gradient(
    to top right, 
    rgb(7, 71, 40), 
    rgb(139, 226, 6), 
    rgb(2, 245, 208), 
    rgb(220, 247, 3)
  );*/
  background-color: rgba(0, 0, 0, .8);
  color: rgb(220, 247, 3);
  padding: 10px;
  text-align: center;
  grid-row: 4;
  z-index: 100;
}

.wall {
  grid-row: 3;
  height: 1fr;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.climber {
  position: relative;
  max-height: 80dvh;
  max-width: 40dvh;
}

.climber img {
  display: block;
  filter: drop-shadow(.6rem 1.1rem 0.5rem rgba(0, 0, 0, .8));
  max-height: 100%;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  /* not clickable so clicks go to the hold marker */
  pointer-events: none;
}

.hold {
  --hold-size: 10%;
  display: block;
  position: absolute;
  height: var(--hold-size);
  aspect-ratio: 1 / 1;
  margin-left: calc(-1 * var(--hold-size)/2);
  margin-top: calc(-1* var(--hold-size)/2);
  background-image: radial-gradient(circle,
    rgba(0,0,0,.2) 0,
    rgba(0,0,0,.5) 30%, 
    transparent 31%);

  border-radius: 50%;
  transition: all 0.3s;
}


.hold .limb {
  height: 48px;
  aspect-ratio: 1 / 1;
  background-color: white;
  border: 3px solid black;
  color: black;
  border-radius: 50%;
  position: relative;
  z-index: 10;
  transition: all 0.3s;
  display: inline-block;
  text-align: center;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 26px;
  text-align: center;
  margin: auto;
  transition: all 0.3s;
}

.leftFoot .limb, .rightFoot .limb {
    width: auto;
    font-size: 19px;
    aspect-ratio: auto;
    border-radius: 13px;
    height: auto;
    margin-right: -118px;
    padding: 2px 5px
}

.hold.moveFromHold .limb {
  background-color: rgb(220, 247, 3); /*rgb(248, 239, 186);*/
}

.hold.foot .limb {
  background-color: lightgray;
  aspect-ratio: auto;
  height: 28px;
  font-size: 19px;
  border-radius: 15px;
  position: absolute;
  text-align: center;
  width: 221%;
  white-space: nowrap;
}

.moveFromHold {
  --hold-size: 19%;
  /*
  height: var(--limb-size);
  margin-left: calc(-1 * var(--limb-size)/2);
  margin-top: calc(-1* var(--limb-size)/2);*/
  background-color: rgb(220, 247, 3);
  background-image: radial-gradient(circle,
    rgba(0,0,0,.2) 0,
    rgba(0,0,0,.5) 30%, 
    rgb(220, 247, 3) 31%);

  border: 7px solid black;
  border-style: double;
  transition: all 0.3s;
}

.hold.next {
  /* circular element with a conical gradient background that is offset by 50% */
  /*width: 50px;
  height: 50px;
  border-radius: 50%;
  background: radial-gradient(
    circle at 55% 73%, 
    navy 0%, navy 5%,
    blue 45%, 
    rgb(119,119,250) 50%,
    transparent 55%, transparent 100%
  );
  */
}

/*.used {
  --used-hold-size: 10%;
  display: block;
  position: absolute;
  height: var(--used-hold-size);
  aspect-ratio: 1 / 1;
  margin-left: calc(-1 * var(--used-hold-size)/2);
  margin-top: calc(-1* var(--used-hold-size)/2);
  background-color: red;
  background-image: radial-gradient(circle,
    rgba(0,0,0,.2) 0,
    rgba(0,0,0,.5) 30%, 
    transparent 31%);

  border-radius: 50%;
  border: 1px solid lime;
  z-index: -1;
}
*/
.next-hold {
  /*width: 79px;
  height: 93px;
  position: absolute;
  top: 50%;
  left: 0;
  background-image: url("/holds/1.png");*/
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.jug {
  width: 20px;
  height: 15px;
  border-radius: 100px 100px 60px 60px;
  background: 
    radial-gradient(circle closest-side at 50% 40%, #ff5555, #bb0000),
    radial-gradient(ellipse at top, rgba(255, 255, 255, 0.3), transparent 60%),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.1), transparent 70%);
  box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.4), 
              0 8px 15px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* buttons */

.btn {
  background-color: #007bff; /* Primary Blue */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.3s;
}

.btn:hover {
  background-color: #0056b3; /* Darker Blue */
}

/*.btn:active {
  background-color: #004080; /* Even Darker Blue /
  transform: translateY(2px);
}*/

.btn:focus {
  outline: 2px solid #ff6600; /* Highlight Color */
  outline-offset: 2px;
}

.btn-group .btn {
  margin-right: -1px; /* Align buttons tightly */
}

.btn-group .btn:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.btn-group .btn:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-right: 0;
}

.btn:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}