@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 247, 243, 228;
  --background-end-rgb: 165, 163, 153;
}

/*@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}*/

html {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: repeating-radial-gradient(circle, rgba(0,0,0,.3) 0%, rgba(0,0,0,.3) 5%, transparent 5%, transparent 100%);
  background-size: 75px 75px;
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden; /* Prevent scrolling */
}

.wall {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.climber {
  display: block;
  position: absolute;
  top: 100px;
  left: 0;
  max-height: 80dvh;
  margin: 0 auto;
}

.climber img {
  display: block;
  filter: drop-shadow(.6rem 1.1rem 0.5rem rgba(0, 0, 0, .8));
  max-height: 100%;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.hold {
  --hold-size: 10%;
  display: block;
  position: absolute;
  height: var(--hold-size);
  aspect-ratio: 1 / 1;
  margin-left: calc(-1 * var(--hold-size)/2);
  margin-top: calc(-1* var(--hold-size)/2);
  background-image: radial-gradient(circle,
    rgba(0,0,0,.2) 0,
    rgba(0,0,0,.5) 30%, 
    transparent 31%);

  border-radius: 50%;
  transition: all 0.3s;
}

.hold .limb {
  height: 40px;
  aspect-ratio: 1 / 1;
  background-color: lightgray;
  color: black;
  border-radius: 50%;
  position: relative;
  z-index: 10;
  transition: all 0.3s;
  display: inline-block;
  text-align: center;
  font-family: monospace;
  font-size: 26px;
  text-align: center;
  margin: auto;
}



.hold.moveFromHold .limb {
  background-color: rgb(248, 239, 186);
}

.hold.foot .limb {
  background-color: lightgray;
  aspect-ratio: auto;
  height: 28px;
  font-size: 19px;
  border-radius: 15px;
  position: absolute;
  text-align: center;
  width: 221%;
  white-space: nowrap;
}

.moveFromHold {
  --hold-size: 15%;
  /*
  height: var(--limb-size);
  margin-left: calc(-1 * var(--limb-size)/2);
  margin-top: calc(-1* var(--limb-size)/2);*/
  background-color: rgb(248, 239, 186);
  background-image: radial-gradient(circle,
    rgba(0,0,0,.2) 0,
    rgba(0,0,0,.5) 30%, 
    rgb(248, 239, 186) 31%);

  border: 7px solid black;
  border-style: double;
  transition: all 0.3s;
}

.hold.next {
  /* circular element with a conical gradient background that is offset by 50% */
  /*width: 50px;
  height: 50px;
  border-radius: 50%;
  background: radial-gradient(
    circle at 55% 73%, 
    navy 0%, navy 5%,
    blue 45%, 
    rgb(119,119,250) 50%,
    transparent 55%, transparent 100%
  );
  */
}

/*.used {
  --used-hold-size: 10%;
  display: block;
  position: absolute;
  height: var(--used-hold-size);
  aspect-ratio: 1 / 1;
  margin-left: calc(-1 * var(--used-hold-size)/2);
  margin-top: calc(-1* var(--used-hold-size)/2);
  background-color: red;
  background-image: radial-gradient(circle,
    rgba(0,0,0,.2) 0,
    rgba(0,0,0,.5) 30%, 
    transparent 31%);

  border-radius: 50%;
  border: 1px solid lime;
  z-index: -1;
}
*/
.next-hold {
  /*width: 79px;
  height: 93px;
  position: absolute;
  top: 50%;
  left: 0;
  background-image: url("/holds/1.png");*/
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.jug {
  width: 20px;
  height: 15px;
  border-radius: 100px 100px 60px 60px;
  background: 
    radial-gradient(circle closest-side at 50% 40%, #ff5555, #bb0000),
    radial-gradient(ellipse at top, rgba(255, 255, 255, 0.3), transparent 60%),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.1), transparent 70%);
  box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.4), 
              0 8px 15px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  /*background-color: rgb(0, 26, 58);*/
  position: absolute;
  top: 10px;
  left: 10px;
}

h1 img {
  border-radius: 10px;
  border: 2px solid rgb(0, 26, 58);
}

.score {
  position: absolute;
  right: 10px;
  top: 10px;
}

.call {
  font-size: 30px;
  text-align: center;
}


/* buttons */

.btn {
  background-color: #007bff; /* Primary Blue */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.3s;
}

.btn:hover {
  background-color: #0056b3; /* Darker Blue */
}

/*.btn:active {
  background-color: #004080; /* Even Darker Blue /
  transform: translateY(2px);
}*/

.btn:focus {
  outline: 2px solid #ff6600; /* Highlight Color */
  outline-offset: 2px;
}

.btn-group .btn {
  margin-right: -1px; /* Align buttons tightly */
}

.btn-group .btn:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.btn-group .btn:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-right: 0;
}

.btn:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}